/* Basic styling for header and navigation */
header {
    background-color: #10be95;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #a51111;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    color: blue;
  }
  
  /* Style for sections */
  section {
    margin: 40px 0;
    color: magenta;
   
    h2{
        color: rgb(189, 112, 19);
    }
  }
  
  /* Add more styles as needed */
  